# Refer the Desktop Entry Specification on how to write this file:
# https://specifications.freedesktop.org/desktop-entry-spec
[Desktop Entry]
Version=1.0
Type=Application
Name=Mari0
Comment=Mario + Portal platformer
Comment[zh_TW]=馬力歐 + 傳送門平台動作遊戲
Exec=mari0
Icon=${SNAP}/meta/gui/icon.png
Categories=Game;ActionGame
